<div
  class="flex flex-column justify-content-center main h-screen w-screen min-w-full min-h-full relative"
>
  <div class="px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
      <div class="text-black-600 font-bold mb-3">
        <i class="pi pi-prime"></i>&nbsp;POWERED BY JHAMMERMEDIA
      </div>
      <div class="text-900 font-bold text-5xl mb-3">Inventory Trakr</div>
      <button
        pButton
        pRipple
        label="Let's Get Started"
        icon="pi pi-prime"
        class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"
        routerLink="/items"
      ></button>
    </div>
  </div>
</div>
