<p-toast></p-toast>
<div class="card mt-4">
  <p-toolbar>
    <ng-template pTemplate="right">
      <button
        pButton
        pRipple
        label="Add Dwelling"
        icon="pi pi-plus"
        class="p-button-success p-button-raised p-mr-2"
        routerLink="/add-dwelling"
      ></button>
    </ng-template>
  </p-toolbar>
  <p-table
    #dt
    [value]="dwellings"
    [rows]="5"
    [paginator]="true"
    [globalFilterFields]="['dwellingName', 'dwellingCity', 'dwellingState']"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h3 class="m-0">Manage Dwellings</h3>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="dwellingName">
          Dwelling Name <p-sortIcon field="dwellingName"></p-sortIcon>
        </th>
        <th pSortableColumn="dwellingCity">
          Dwelling City <p-sortIcon field="dwellingCity"></p-sortIcon>
        </th>
        <th pSortableColumn="dwellingState">
          Dwelling State <p-sortIcon field="dwellingState"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dwelling | async>
      <tr>
        <td>{{ dwelling.dwellingName }}</td>
        <td>{{ dwelling.dwellingCity }}</td>
        <td>{{ dwelling.dwellingState }}</td>
        <td class="flex">
          <button
            class="p-button-raised p-button-warning mr-1"
            pButton
            pRipple
            icon="pi pi-info-circle"
            pTooltip="Dwelling Details"
            tooltipPosition="bottom"
            routerLink="/dwelling-detail/{{ dwelling.id }}"
          ></button>

          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-info p-button-raised mr-1"
            pTooltip="Edit Dwelling"
            tooltipPosition="bottom"
            routerLink="/edit-dwelling/{{ dwelling.id }}"
          ></button>

          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-warning p-button-raised mr-1"
            pTooltip="Delete Dwelling"
            tooltipPosition="bottom"
            (click)="deleteDwelling(dwelling.id)"
          ></button>

          <button
            class="p-button-raised p-button-success mr-1"
            pButton
            pRipple
            icon="pi pi-plus"
            pTooltip="Add Item"
            tooltipPosition="bottom"
            routerLink="/add-item/{{ dwelling.id }}"
          ></button>
        </td>
      </tr>

      <p-confirmDialog
        [style]="{ width: '50vw' }"
        [baseZIndex]="10000"
        rejectButtonStyleClass="p-button-text"
      ></p-confirmDialog>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ dwellings ? dwellings.length : 0 }} stores.
      </div>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No data found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
